[Unit]
Description=umirr daemon instance
Requires=umirr@%i.socket
After=network.target

[Service]
PIDFile=/run/umirr/pid-%i
User=umirr
Group=umirr
ExecStart=/usr/bin/gunicorn --pid /run/umirr/pid-%i --workers 4 umirr
ExecReload=/usr/bin/kill -s HUP $MAINPID
ExecStop=/usr/bin/kill -s TERM $MAINPID

[Install]
WantedBy=multi-user.target
