[Unit]
Description=umirr socket

[Socket]
ListenStream=/run/umirr.sock
SocketUser=umirr
SocketGroup=umirr
SocketMode=0660

[Install]
WantedBy=sockets.target
